.chat-main
  .chat-main__group-info
    .group-name test
    .edit-btn 
      = link_to "#", class: "btn btn-dark btn-sm" do
        %span<>
        Edit
    .member-name Member：ats
    
  .chat-main__message-list
    .message-box
      .message-name ats 
      .message-date  2020/01/03(fri) 20:06:57
    .message おはよう

    .message-box
      .message-name ats 
      .message-date  2020/01/03(fri) 20:06:57
    .message 今日の夜は雨

  .chat-main__message-form
    .new-message
      .input-box type a message
      .input-image 
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type:"file",class: "fs"}
    .send-btn Send