.message-box{data: {message: {id: message.id}}}
  .message-name-date
    .message-name 
      = message.user.name
    .message-date
      =  message.created_at
  .message
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
