.side-bar
  .side-bar-user-name
    .sidebar-user-box
      .left-name ats
      .right-logo
        = link_to "#", class: "contents__btn", style:"color:white" do
          = icon('fas', 'edit')
        = link_to "#", class: "contents__btn", style:"color:white" do
          = icon('fas', 'cog')
        
  .side-bar__group-list
    .group-box
      .group__name job
      .group__message まだメッセージがありません
